html
{
    width: 300px; /* max: 1000px */
    height: 500px; /* max: 750px */
    background-color: #0D171D; /* Lensview background */
    /* overflow: auto; Add scrollbars when content overflows */
}

body {
    color: #FFFFFF; /* White text color */
    font-family: 'DM Sans';
    font-weight: 16;
    font-size: 16px;
  }

/* Style for the button */
button#gotoLVButton {
    border-radius: 10.8px;
    border: #0D171D;
    background: linear-gradient(103deg, #23F9FF,#DBF1FF);
    /* background: linear-gradient(#23F9FF, #DBF1FF); */
    position: absolute;
    bottom: 10px; /* Adjust the value as needed */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Center horizontally */
  }